*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  height: 100%;
  background: hsl(60deg 26.5% 90.4%);
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#root {
  max-width: 75rem;
  width: 50%;
  margin: 0 auto;
  height: 100%;
}

ul:where([role='list']) {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

.user-list {
  height: 100%;

  > div {
    background: hsl(196.8deg 83.1% 72.2%);
    padding: 1rem;
    border-radius: 10px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 50%;
  border: 4px solid hsl(196.8deg 83.1% 72.2%);
  border-radius: 10px;
  overflow: scroll;
  margin-block-start: 1rem;
}

/* CARD COMPONENT */

.card:not(:last-child) {
  border-bottom: 2px solid hsl(0deg 10% 1% / 8%);
  padding: 1rem;
  inline-size: 18.75rem;
}

.card__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.card__header {
  font-size: 1.2rem;

  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.8em;
  }
}

.card__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.card.hide {
  display: none;
}
